[Desktop Entry]
Version=1.0
Exec=python3 /home/portal/.local/bin/ph-audio-switcher.py
Name=Audio Switcher
GenericName=Audio Switcher
Type=Application
Categories=Application;Audio;
Icon=multimedia-volume-control
