@import "colors.css";

* {
  font-family: "SF Pro Text", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
}

#workspaces button {
  margin: 0 2;
  padding: 0 5;
  border-radius: 10;
  color: @secondary;
  background-color: @surface;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button:hover {
  background-color: @on_surface;
  color: @tertiary;
}

#workspaces button.active {
  background-color: @primary_container;
  color: @primary;
}

#workspaces button.urgent {
  background-color: @error_container;
  color: @error;
}

#clock,
#network,
#pulseaudio,
#custom-logo,
#tray {
  padding: 0 10px;
  color: @secondary;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @surface;
}

#clock {
  border-radius: 10px;
}

#clock:hover{
  background-color: @primary_container;
  color: @primary;
}

#network {
  border-radius: 10px;
}

#network:hover{
  background-color: @primary_container;
  color: @primary;
}

#network.disconnected {
  background-color: @error_container;
  color: @error;
}

#pulseaudio {
  border-radius: 10px;
}

#pulseaudio:hover{
  background-color: @primary_container;
  color: @primary;
}

#pulseaudio.muted {
  background-color: @surface;
  color: @error;
}

#tray {
  border-radius: 10px;
}

#tray:hover{
  background-color: @primary_container;
  color: @primary;
}

#custom-logo {
  font-weight: bold;
  padding: 0 8px;
  border-radius: 10px;
}

#custom-logo:hover {
  background-color: @primary_container;
  color: @primary;
}
