/*
Dark Gray: 3c3a3d
Nero: 292929
Charcoal: 444444
*/

* {
  font-family: "SF Pro Text", "JetBrainsMono Nerd Font Propo", "Roboto",
    Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(255, 255, 255, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  border-radius: 0;
}

#pulseaudio:hover {
  background-color: #a37800;
}

#workspaces button {
  margin: 0 2px;
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 10px;
  background-color: #292929;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #444444;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
}

#clock,
#network,
#pulseaudio,
#tray {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}*/

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #292929;
  border-radius: 10px;
}

label:focus {
  background-color: #fff;
}

#network {
  background-color: #292929;
  border-radius: 10px;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #292929;
  border-radius: 10px;
}

#pulseaudio.muted {
  background-color: #292929;
  color: #fff;
}

#tray {
  background-color: #292929;
  border-radius: 10px;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-logo {
  font-weight: bold;
  color: white;
  padding: 0 8px;
  background: #292929;
  border-radius: 10px;
}
